Configs/
Servers/
Stats/
Resurses/
Translator.exe
BazaDate.py
BazaDate.py
BazaDate.py
BazaDate2.py
__pycache__/BazaDate.cpython-38.pyc
BackGround_Габриэль.png
Main 2.png
Main.png
Start.ahk
Start.bat
*.exe
*.bat
StatsPl.png
TheBoss.png
Test.py
test2.py
Version 6/Boss/Boss.txt
SendItem.png
Ready.txt
gabriel/__pycache__/BazaDate.cpython-38.pyc
*.pyc
*.py
*.gabriel
*.pyc
.vscode/settings.json
.vscode/settings.json
